// 颜色
$wite-color: #fff;
$yel-color: #FD0;
$bl-color: #333;
$bl-d-color: #3d3d3d;
$adv-back: #fffce6;
$adv-font-color: #ff7300; 
$g-color: #5c5f66;
$g-m-color: #919499;
$g-nav-color: #f2f3f5;
// 字体
$font-size-main: 29px;
$font-size-header: 17px;
$font-color: $wite-color;
$font-size-footer: 12px;
$font-size-smoll: 12px;